# Ignore everything
*

#
# Don't ignore some folders
#
!src
!Exceptions
!tests

#
# Don't ignore some extentions
#
!*.php
#
# Don't ignore some files
#
!composer.json
!.gitignore
!phpunit.xml.dist
!.coveralls.yml
!.travis.yml
!README.md
!LICENSE