# Ignore everything
*

#
# Don't ignore some folders
#
!src
!Exceptions
!tests

#
# Don't ignore some extentions
#
!*.php

#
# Don't ignore some files
#
!composer.*
!.gitignore
!phpunit.xml.dist
!.travis.yml
